@font-face {
   font-family: myfonts;
   src:  url(./TuskerGrotesk-2600Semibold.ttf)
}

html body {
   margin: 0;
   padding: 0;
   width: max(100%);
   height: 100vh;
   background: teal;
   box-sizing: border-box;
}

::selection {
   color: red;
   background: #323232;
}

main {
   display: grid;
   width: 100%;
   height: 100vh;
   background: #323232;


   & > .notfound {
      display: flex;
      flex-flow: column;
      flex: 1 1 100%;
      justify-content: center;
      place-items: center;
      background: url(../Error/404.jpg) no-repeat center center / cover border-box;

      & h1 {
         color: #181818;
         font: normal 400 clamp(12px, 5vw , 3rem) myfonts;
         text-transform: uppercase;
         background: ghostwhite;
      }

      & h2 {
         color: #181818;
         font: italic 400 clamp(12px, 4vw , 2.5rem) myfonts;
         background: ghostwhite;
      }

      & p {
         color: ghostwhite;

         & > a  {
            color: ghostwhite;
            text-decoration: none;
            text-transform: uppercase;
            font: normal 600 clamp(12px, 1vw , 16px);
            background: #181818;
            padding: 1rem;
            border-radius: 7px;

            &:hover {
               color: #000;
               transition: all 2s ease;
               background: tan;
            }

         }
      }
   }
}